html, body {width:100%; height:100%; -webkit-font-smoothing:antialiased}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, button, address, em, img, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, hr {margin:0; padding:0}
header, footer {display:block;}
li {list-style:none;}
a {color:#000; text-decoration:none; word-break:break-all;}
a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none;}
table {width:100%; border-collapse:collapse; border-spacing:0}
img, button {border:0 none;}
.blind {position:absolute !important; left:-9999em; width:0; height:0; margin:0; padding:0; text-indent:-9999em; overflow:hidden; font-size:0; line-height:0;}
caption, legend {width:0; height:0; margin:0; padding:0; text-indent:-9999em; overflow:hidden;  font-size:0;} 
body {font-size:15px;color:#333;}

/* ÆùÆ® */
@font-face {
    font-family: ""; 
    font-style: normal; 
    font-weight: normal; 
    src: url(); 
    src: url('');
}

/*
@font-face {
    font-family: ""; 
    font-style: normal; 
    font-weight: normal; 
    src: url(../fonts/.eot); 
    src: url(../fonts/.woff) format('woff');
}
*/
